.container {
  width: 100%;
  height: 3.5rem;
  position: relative;
}
.placeholder {
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;

  &:before {
    content: "";
    width: calc(100% - 0.2rem);
    height: 100%;
    background-color: var(--white);
    border-radius: 0.5rem;
    position: absolute;
    left: 0.1rem;
    top: 0;
  }
}
