@import "@/scss/mixins/media-query";

@mixin section-divider() {
  &:before {
    content: "";
    height: 0.1rem;
    background-color: var(--alto);
    position: absolute;
    left: 0;
    right: 0;
    top: -6rem;

    @include mq(medium) {
      top: -11rem;
      left: var(--grid-padding);
      right: var(--grid-padding);
    }
  }
}
