$breakpoints: (
  small: 786px,
  medium: 1024px,
  large: 1440px,
  xlarge: 1920px,
  xxlarge: 2560px,
);

@mixin mq($size, $type: min, $orientation: width) {
  @if map_has_key($breakpoints, $size) {
    $size: map_get($breakpoints, $size);
  }
  /* stylelint-disable */
  @if $type == max {
    $size: $size - 1px;
  }
  /* stylelint-enable */
  @if $orientation == width {
    @media only screen and (#{$type}-width: $size) {
      @content;
    }
  }
  @if $orientation == height {
    @media only screen and (#{$type}-height: $size) {
      @content;
    }
  }
}
