@import "@/scss/mixins/media-query";

@mixin body() {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing-body);
}

@mixin heading($i) {
  font-size: var(--font-size-h#{$i});
  line-height: var(--line-height-h#{$i});
  font-weight: var(--font-weight-h#{$i});
  letter-spacing: var(--letter-spacing-h#{$i});
}
